h1{
    background-image: url ("https://i.pinimg.com/originals/58/33/70/58337069d8b9962bbd830ab3b05fa693.jpg") ;
   
}
#h3{
    /* background: linear-gradient(45deg, #fac104, rgb(221, 255, 30)); */
    font-family: arial;
    height: 300vh;
}

   
    

.search{
    width: 100%;
    outline: none;
    margin-bottom: 2rem;
    height: 65px;
    padding: 0.5rem 2rem;
    border: 1px solid #ccc;
    border-radius:10px ;
}
#demotext{
    font-family: arial;
    height: 10vh;
    padding: 7rem ;
    margin: 10px;
    font-size: 3rem;
    text-align: center;
   color: rgb(218, 200, 44)   ;
    
}
#yoda{
    width: 5000px;
    height: 200px;
    border: 3px solid rgb(163, 141, 14)
}
